body{
  background-color:black;
}
.jumbotron{
  margin-top: 25px;
  background-color:#2F4F4F;
}
.titulo{
  font-size: 40px;
}

h1, h2{
  text-align: center;
  color:white;
}

button{
  color:white;
  height: 100px;
}
.info{
  color:white;
  text-align: left;
}